body{
    font-family: 'Roboto', sans-serif;
 background: rgb(24,26,27);
 
}
header{
    width: 100%;
    color: white;
    font-size: 25px;
    background: black;
    display: flex;
    justify-content: space-around;
    border-bottom:  2px solid rgb(3, 201, 20);
        img{
           width: 80px;
        }
    
    align-items: center;
    nav{
        a{
            color: white;
        }
        a:hover{
            color: green;
        }
         >ul{
            display: flex;
            li:hover {
                color: green;
            }
            > li{
                position: relative;
                margin-left: 50px;
                color: white;
                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 3px;
                    background: white;
                    transition: 0.5s;
                }
                 &:hover {
                    &::after{
                        width: 100%;
                    }
                }
              //  ---------------------box-tool-------------------------------
                &:hover ul.box_tool{
                    display: block;
                    
                }
                ul.box_tool{
                    display: none;
                    padding: 5px;
                    width: 150px;
                    text-align: center;
                    background: rgb(116, 109, 121);
                    position: absolute;
                    z-index: 2;
                    left: -20px;
                    top: 30px;
                    border-radius: 10px;
                    border: 0.1px solid black;
                    li{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        a{  
                            font-size: 25px ;
                            color: black;
                        }
                    }
                    li:hover{
                        background: rgba($color: rgb(43, 214, 86), $alpha: 1);
                        border-radius: 20px;
                    }
                }

            }         
        }
    }
    .inter_mobie{
        display: none;
    }
}
footer{
    padding-top: 30px;
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background:  rgba($color: #000000, $alpha: 1);
    font-size: 15px;
    color: white;
    ul{
      text-align: center;
    }
    a{
        color: white;
    }

}

.fullBox{
    position: relative;
    width: 400px;
    height: 700px;
    border: 1px solid rgb(54,59,61);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    .avata{
       img{
           position: absolute;
           height: 92px;
           border-radius: 50%;
           padding: 20px;
           top: 4%;
           left : 50%;
           transform: translateY(-5%) translateX(-50%);
       }
       h1{
           position: absolute;
           color: rgb(54,59,61);
           font-family: 'Public Sans', sans-serif;
           font-size: 20px;
           padding-bottom: 20px;
           top: 23%;
           left : 50%;
           transform: translateY(-5%) translateX(-50%);
        }
        .line{
           position: absolute;
           background:   rgb(54,59,61);
            height: 1px;
            width: 100%;
            top: 32%;
        }
    }
    .option{
        position: absolute;
        top: 40%;
        left: 40px;
        .op1{
            margin-bottom: 15px;
            position: relative;
            width: 320px;
            height: 40px;
            background: rgb(22,27,130);
            border-radius: 5px;
            span{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 50px;
                color: white;
               font-family: 'Public Sans', sans-serif;
                font-size: 13px;
            }
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 260px;
                color: rgb(24,26,27);
            }
            transition: 0.4s;
        }
        .op1:hover{
            transform: scale(1.05);
        }
    }
    .end{
        position: relative;
        color: rgb(54,59,61);
        height: 10%;
        top: 85%;
        .line2{
            height: 1px;
            width: 100%;
            background: rgb(54,59,61);
        }
        p{
            position: absolute;
            top: 75%;
            left: 50%;
            font-family: 'Public Sans', sans-serif;
            transform: translateX(-50%) translateY(-50%);
            text-decoration: underline wheat 1px ;
            
        }
    }
}
@media screen and(max-width: 46.1875em) {
    .fullBox{
        position: relative;
        width: 90%;
        height: 700px;
        border: 1px solid rgb(54,59,61);
        border-radius: 10px;
        margin: auto;
        margin-top: 50px;
        .avata{
           img{
               position: absolute;
               height: 92px;
               border-radius: 50%;
               padding: 20px;
               top: 4%;
               left : 50%;
               transform: translateY(-5%) translateX(-50%);
           }
           h1{
               position: absolute;
               color: rgb(54,59,61);
               font-family: 'Public Sans', sans-serif;
               font-size: 20px;
               padding-bottom: 20px;
               top: 23%;
               left : 50%;
               transform: translateY(-5%) translateX(-50%);
            }
            .line{
               position: absolute;
               background:   rgb(54,59,61);
                height: 1px;
                width: 100%;
                top: 32%;
            }
        }
        .option{
            width: 80%;
            position: absolute;
            top: 40%;
            left: 40px;
            .op1{
                margin-bottom: 15px;
                position: relative;
                width: 100%;
                height: 40px;
                background: rgb(22,27,130);
                border-radius: 5px;
                span{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 15%;
                    color: white;
                   font-family: 'Public Sans', sans-serif;
                    font-size: 13px;
                }
                i{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 82%;
                    color: rgb(24,26,27);
                }
                transition: 0.4s;
            }
            .op1:hover{
                transform: scale(1.05);
            }
        }
        .end{
            position: relative;
            color: rgb(54,59,61);
            height: 10%;
            top: 85%;
            .line2{
                height: 1px;
                width: 100%;
                background: rgb(54,59,61);
            }
            p{
                position: absolute;
                top: 50%;
                left: 50%;
                font-family: 'Public Sans', sans-serif;
                transform: translateX(-50%) translateY(-50%);
            }
        }
    }
    header{
        width: 100%;
        background: black;
        display: flex;
        justify-content:space-between;
        border-bottom:  2px solid rgb(3, 201, 20);
        .logo{
            padding-left: 10%;
        }
        img{
            width: 70px;
        }
        align-items: center;
        .inter_pc{
            display: none;
        }
        .inter_mobie{
            display: block;
            .list1{
                padding-right: 10%;
                position: absolute;
                width: 28px;
                height: 28px;
                color: white;  
                top: 1rem;
                right: 1rem;
            }
            .baotri{
                display: none;
            }
            .list1:active{
                .baotri{
                    display: block;
                }
            }
        }
    }
    footer{
        
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 100px;
        height: 100px;
        background:  rgba($color: #000000, $alpha: 1);
        font-size: 15px;
        color: white;
        ul{
          text-align: center;
        }
        a{
            color: white;
        }
    }
}
