*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: rgb(26, 141, 10);
}
header{
    border-bottom: 2px solid rgb(3, 201, 20);
    background: rgb(3, 1, 5);
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    img{
        height: 70px;
    }
    .logo1{
        display: flex;
        align-items: center;
        img{
            height: 50px;
        }
        h1{
            font-size: 70px;
            color:#de5b11;
        }
    }
    
   

}
.command{
    ul{ padding: 50px;
        >li{ padding-top: 20px;
             list-style: square;
             color: blue;
             ul{    padding: 2px;
                 font-weight: bold;
                 display: flex;
                 li{ 
                     list-style: decimal;
                     color: rgb(190, 20, 20);
                     margin: 10px;
                     font-size: large;
                     p{
                         font-weight: 100;
                         color: black;
                     }
                 }
                 .first{
                     width: 500px;
                 }
                 .second{
                     width: 500px;
                     padding-left: 200px;
                 }
                 
             }
             box-shadow: 15px 10px 5px rgb(20, 18, 18);
         }
     }
}
body{
    background: goldenrod;
}
footer{
   margin-top: 50px;
   padding-top: 10px;
    ul li{
        list-style: none;
    }
    width: 100%;
    height: 110px;
    background:  rgba($color: #000000, $alpha: 1);
    font-size: 15px;
    color: white;
    ul{
        color: white;
      text-align: center;
      li{
          color: white;
          padding: 5px;
      }
    }
    a{
        color: white;
    }

}